{%  extends 'accounts/main.html' %}
{% load static %}
{% block content %}


<div class="row">
    <div class="col-md-8">
        <div class="card card-body">

            <form action="" method="POST">
                {% csrf_token %}
                {{ formset.management_form }}
                {% for form in formset %}
                   {{form}}
                   <hr>
                {% endfor %}

                <input class="btn btn-info" type="submit" name="Submit">
            </form>

        </div>
    </div>
</div>

{% endblock %}